<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Suite">
	<parameter name="URL" value="https://qualitystream-academy.com/" />
	<test name="Test on Chrome">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="Test.SolicitarFirmasTest" />
		</classes>
	</test>
	<!--test name="Test on Firefox">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="Test.SolicitarFirmasTest" />
		</classes>
	</test-->
</suite> <!-- Suite -->